@using WorkoutTracker.ViewModels
@model CurrentSplitViewModel;
<!DOCTYPE html>
<html>
<head>
    <style>
        .main-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .split-day-box-container {
            display: flex;
            flex-direction: row;
        }

        .split-day-box {
            width: 50px;
            height: 50px;
            background-color: white;
            margin: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 5px;
        }

        .split-day-information {
            margin: 0;
        }

        .workout-day {
            width: 270px;
            background-color: white;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            flex-direction: column;
            margin: 10px;
        }

        .exercise {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 3px;
        }

        .exercise-weight {
            width: 25px;
            height: 15px;
            text-align: center;
            padding-top: 3px;
        }

        .exercise-date {
            color: blue;
        }

        .add-button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: blue;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 30px;
            margin: 5px;
        }

        .save-button {
            width: 100px;
            height: 30px;
            background-color: blue;
            color: white;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <main class="main-container">
        <section class="split-day-box-container">
            @foreach (var dayOfSplit in Model.DayOfSplits)
            {
                <form class="split-day-box-container" asp-controller="Home" asp-action="CurrentSplit" asp-route-dayOfSplitName="@dayOfSplit.Name" method="get">
                    <button class="split-day-box" type="submit" id="@dayOfSplit.Name">
                        <p class="split-day-information">@dayOfSplit.Name</p>
                        <p class="split-day-information">@dayOfSplit.WorkoutCount</p>
                    </button>
                </form>
            }
        </section>
        <section class="add-button">+</section>
        <section>
            @foreach (var workout in Model.DayOfSplits.First(p => p.Name == Model.DayOfSplitName).Workouts)
            {
                <div class="workout-day">
                    <div class="exercise-date">@workout.DateWorkout.ToString("dd.MM.yyyy")</div>
                    @foreach (var exercise in workout.Exercises)
                    {
                        <div class="exercise">
                            <div>@exercise.Name</div>
                            <input class="exercise-weight" value="@exercise.Weight" />
                        </div>
                    }
                    <button class="save-button">Save</button>
                </div>
            }
        </section>
    </main>
    <script>
        let button = document.getElementById("@Model.DayOfSplitName")
        button.style.backgroundColor = 'lightblue'
    </script>
</body>
</html>