@using WorkoutTracker.ViewModels
@model SplitHistoryViewModel
<!DOCTYPE html>
<html>
<head>
    <style>
        .main-container {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .split-box {
            width: 280px;
            background-color: white;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            flex-direction: column;
            margin: 10px;
        }

        .split-title {
            font-weight: bold;
            margin-bottom: 30px;
        }

        .split-date-week-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 30px;
        }

    </style>
</head>
<body>
    <main class="main-container">
        @foreach (var split in Model.Splits)
        {
            <button class="split-box">
                <div class="split-title">Split #@split.Id</div>
                <div>@split.SplitToString</div>
                <div class="split-date-week-container">
                    <div>
                        <div>@split.DateStart.ToString("dd.MM.yyyy")</div>
                        <div> - </div>
                        <div>@split.DateEnd.ToString("dd.MM.yyyy")</div>
                    </div>
                    <div>
                        <div>Week @split.WeekStart</div>
                        <div> - </div>
                        <div>Week @split.WeekEnd</div>
                    </div>
                </div>
            </button>
        }
    </main>
</body>
</html>